.blackbackground {
  background: black;
}

.playerbutton > image {
  padding: 12px;
}

.recommended > row:hover {
  background-color: inherit;
}
.recommended > row:selected {
  background-color: inherit;
}
